{% extends 'base.html' %}
{% block contenido %}

<table class="table">
<tbody>
<tr>
    <td>NOMBRE</td>
    <td>{{usuario.user.first_name}}</td>
</tr>

<tr>
    <td>APELLIDO</td>
    <td>{{usuario.user.last_name}}</td>
</tr>

<tr>
    <td>EDAD</td>
    <td>{{usuario.edad}}</td>
</tr>

<tr>
    <td>EMAIL</td>
    <td>{{usuario.user.email}}</td>
</tr>
<tr>
    <td>PROFESION</td>
    <td>{{usuario.profesion}}</td>
</tr>
<tr>
    <td>DIRECCION</td>
    <td>{{usuario.direccion}}</td>
</tr>

<tr>
    <td>COMUNA</td>
    <td>{{usuario.comuna}}</td>
</tr>
</tbody>


</table>



{% endblock %}
